* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #929e85;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    background-color: rgb(6, 48, 14);
    color: rgb(13, 55, 104);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: rgb(102, 182, 112);
    background-size: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header nav{
    float: right;
    padding: 20px;
    padding-top: 15px;
    margin-right: 20px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


a {
    color: rgb(102, 182, 112);
    text-decoration: none;
}

header nav ul li a {
    border-bottom: 3px solid rgb(102, 182, 112);
    padding-bottom: 5px;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background-color: rgb(140, 228, 0);
}

p {
    font-size: 16px;
}

footer ul li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.55vw;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: ;
}

footer ul li {
    display: inline-block;
    padding: 0px 20px;
}

footer h1 {
    display: inline-block;
    font-size: 48px;
    background-color: rgb(102, 182, 112);
    background-size: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-break: break-all;
}

.lambeau {
    padding: 80px 35px;
    background-image: url("../images/lambeau.jpg");
    background-size: cover;
}

.subtitle {
    text-align: right;
    bottom: 8px;
    right: 16px;
    margin: 0;
    font-size: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    background-color: rgb(102, 182, 112);
    background-size: cover;
}

.container {
    margin: 1em;
    display: flex;
}

div h1 {
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.about-me {
    position: relative;
    left: 100px;
    padding: auto;
    font-size: 45px;
}
.bio {
    font-size: 20px;
    border-left: 3px solid;
    padding-bottom: 20px;
    padding-left: 40px;
    position: relative;
    left: 50px;
    text-align: justify;
    margin: 0 auto 35px auto;
    width: 70%;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    list-style-type: none;
}

.surf {
    background-image: url(../images/waterimage.jpg);
    padding: 200px 100px;

}

.ledwall {
    background-image: url(../images/ledwall.jpg);
    padding: 40px 20px;
    background-repeat: no-repeat;
}

.calculator {
    background-image: url(../images/calculator.jpg);
    padding: 40px 20px;
}

.puzzle {
    background-image: url(../images/clearsky.jpg);
    padding: 40px 20px;
}

.runbuddy {
    background-image: url(../images/runbuddy.jpg);
    padding: 40px 20px;
}